<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Welcome</ion-card-subtitle>
      <ion-card-title>Daniel</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Today is Monday and there are no new jobs.
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/icon/favicon.png">
      </ion-avatar>
      <ion-label>
        <h2>Daniel</h2>
        <h3>subtitle</h3>
        <p>some text...</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/icon/favicon.png">
      </ion-avatar>
      <ion-label>
        <h2>Daniel</h2>
        <h3>subtitle</h3>
        <p>some text...</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/icon/favicon.png">
      </ion-avatar>
      <ion-label>
        <h2>Daniel</h2>
        <h3>subtitle</h3>
        <p>some text...</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>